html, body {
    height: 100%;
    overflow-x: hidden;
}

.list-group-item-success{
	background-color:#28A745 !important;
	border:none !important;
	list-style-type:none !important;
	color:white !important;
}

.container-fluid{
	padding:0px;
}

hr{
	border-top:1px solid rgba(255,255,255,0.5) !important;
	width:100% !important;
}

a{
	text-decoration:none !important;
}

.navbar-brand{
	font-size:28px !important;
	font-weight:bolder;
}

.border-left{
	padding:50px;
	border-left:10px solid #ffc107 !important;
}

.side-content{
	 padding:0px;
	 overflow:auto;
	 overflow-x:hidden;
}

.nav-title{
	font-size:18px;
	color:white !important;
}

.nav-active{
	display:inline-block;
	width:100%;
	background-color:rgba(0,0,0,0.5) !important;
	border-radius: 5px;
	/*padding:.5rem !important;*/
}

/* 스크롤바 너비 */
::-webkit-scrollbar {
  width: 0px;
}

/* 스크롤바 배경 */
::-webkit-scrollbar-track {
  background-color: #eee;
}

/* 스크롤바 */
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #ccc;
}

/* 스크롤바 호버 */
::-webkit-scrollbar-thumb:hover {
  background: #aaa;
}

/* 페이지 active*/
.page-item.active .page-link{
	z-index: 3;
    color: #fff !important;
    background-color: #28a745 !important;
    border-color: #28a745 !important;
}
