<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="events">
	<select id="getActiveEvents" parameterType="date" resultType="com.sb.vo.Event">
		select
			event_no			as no,
			event_title			as title,
			event_content		as content,
			event_file_name		as fileName,
			event_start_date	as startDate,
			event_end_date		as endDate,
			event_created_date	as createdDate
		from
			sb_events
		where
			event_end_date &gt; sysdate
		order by
        	event_end_date asc					
	</select>
	
	<select id="getAllEvents" resultType="com.sb.vo.Event">
		select
			event_no			as no,
			event_title			as title,
			event_content		as content,
			event_file_name		as fileName,
			event_start_date	as startDate,
			event_end_date		as endDate,
			event_created_date	as createdDate
		from
			sb_events
		order by
        	event_end_date asc					
	</select>
	
	<select id="getEventByNo" parameterType="int" resultType="com.sb.vo.Event">
		select
			event_no			as no,
			event_title			as title,
			event_content		as content,
			event_file_name		as fileName,
			event_start_date	as startDate,
			event_end_date		as endDate,
			event_created_date	as createdDate
		from
			sb_events
		where
			event_no = #{value}
	
	</select>

</mapper>